<div id="players">
<h3 id="title">Players List</h3>

  <div class="row">
    <div class="col-md-3" *ngFor="let item of data">
      <div class="card" >
        <a  [routerLink]="['/name',item.Name]">
        <img class="card-img-top" src="../assets/images/{{item.Name}}.png" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title text-center">{{item.Name}}</h5>
          <p class="card-text text-center"><span>{{item.Nationality}} </span> {{item.Age}}  <span></span> {{item.Club}}</p>
        <div class="text-center">
 <ngb-rating [(rate)]="item.Rating"  [readonly]="true" max="5"></ngb-rating>
        </div>
            
           
        </div>
      </div>
    </div>
  </div>
</div>